In [3]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
import pymongo

In [4]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
# Declare tha Database
db = client.diversity_income_db
# Declare the collection
collection = db.diversity_income_db

In [5]:
#Create diversity data dataframe
diversity_df = pd.read_csv('Resources/diversity_data.csv')
diversity_df['County'],diversity_df['State'] = diversity_df['Location'].str.rsplit(', ').str
diversity_df = diversity_df.drop(columns=['Location'])
diversity_df.head()

,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [6]:
#Create income data dataframe
income_df = pd.read_csv('Resources/income_data.csv')
income_df['State'] = income_df['State Code']
income_df = income_df.drop(columns=['State Code', 'County-State'])
income_df.head()

           County  Population  Median household income State
0  Autauga County       55221                  51281.0    AL
1  Baldwin County      195121                  50254.0    AL
2  Barbour County       26932                  32964.0    AL
3     Bibb County       22604                  38678.0    AL
4   Blount County       57710                  45813.0    AL

In [7]:
#Combined
combined_df = income_df.merge(diversity_df, how = 'inner', right_on= ['County', 'State'], 
                left_on= ['County', 'State'])
combined_df.head()

,County,Population,Median household income,State,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,Autauga County,55221,51281.0,AL,0.388898,18.4,0.5,1.1,0.1,1.7,2.7,75.9
1,Baldwin County,195121,50254.0,AL,0.297942,9.5,0.7,0.9,0.1,1.5,4.6,83.1
2,Barbour County,26932,32964.0,AL,0.556605,47.6,0.6,0.5,0.2,0.9,4.8,46.3
3,Bibb County,22604,38678.0,AL,0.394100,22.1,0.4,0.2,0.1,0.9,2.1,74.6
4,Blount County,57710,45813.0,AL,0.221056,1.8,0.6,0.3,0.1,1.1,8.7,87.8

In [ ]:
### Brian's code here

In [65]:
### Brian's code ends

In [ ]:
### Vikash's code here

In [5]:
### Vikash's Code ends

In [44]:
#Sonal's Code

In [8]:
# Median Income
median_df = pd.read_csv('Resources/income_data.csv')
median_df.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama

In [9]:
# Population DataSet
median_df = median_df[['County',"State Code", 'Population',"Median household income"]]
median_df.head()

           County State Code  Population  Median household income
0  Autauga County         AL       55221                  51281.0
1  Baldwin County         AL      195121                  50254.0
2  Barbour County         AL       26932                  32964.0
3     Bibb County         AL       22604                  38678.0
4   Blount County         AL       57710                  45813.0

In [12]:
median_df = pd.read_csv('Resources/income_data.csv')
median_df.count
median_df.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama

In [78]:
db.collection.insert_many(combined_df.to_dict('records'))