In [1]:
#Dependencies
import pandas as pd

In [5]:
#Create diversity data dataframe
diversity_df = pd.read_csv('Resources/diversity_data.csv')
diversity_df.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama

In [7]:
#Create income data dataframe
income_df = pd.read_csv('Resources/income_data.csv')
income_df.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama